body {
    text-align: center;
    background-color: #4b7383;

}

h1 {
    text-align: center;
    color: #23272a;
    font-size: 150px;
    font-family: "Manga";
}

h2 {
    color:#23272a;
    font-family: "Manga Temple";
}

h3 {
    color: #23272a;
    font-family: "Manga Temple";
}

h4 {
    text-align: center;
    margin-left: 600px;
    font-family: "Manga Temple";
    margin-top: 35px;
    font-size: smaller;
    color: #23272a;
}

input {
    margin-left: 25px;
}

label {
    font-size: large;
    font-family: "Manga Temple";
    color: #acc3c5;
    border-radius: 16px;
}

#anime-title {
    font-family: "Manga Temple";
    color:#23272a;
}

 #functionality {
    padding-top: 30px;
    padding-bottom: 50px;
 
} 

input[type=text] {
    background-color: #acc3c5;
}

input[type=submit] {
    background-color: #acc3c5;
}

#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 510px;
    padding-top: 30px;
    padding-bottom: 50px;
}

#random-generator {
    padding: 15px;
    background-color: #acc3c5;
    border-radius: 16px;
    cursor: pointer;
    margin: auto;
    width: 30%;
    font-family: "Manga Temple";
}

 #search {
    margin-left: 10px;
} 

#anime-synopsis {
    padding: 50px;
    padding-top: 20px;
    text-align: left;
    font-size: 18px;
    /* font-family: "Manga Temple"; */

}

#anime-title {
    padding: 50px;
    padding-top: 20px;
    text-align: center;
}

#featured-anime-image-container {
    margin-right: 20px;
    position: relative;
    max-width: 100%;
}

/* #featured-anime {
    position: relative;
    display: table;
    width: 100%;
} */

 #featured-anime-image {
    max-width: 100%;
    border-radius: 20px;
} 

#anime-details {
    background-color: #acc3c5;
    min-height: 700px;
    border-radius: 16px;
    max-width: 700px;
    max-height: 700px;  
}

#featured-anime-container {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-left: 200px;
}

#watchlist {
    background-color: #4b7383;
    cursor: pointer;
    padding: 15px;
    border-radius: 16px;

}